| #{order.customer.familyName} #{order.customer.givenName} 様
| この度は、#{order.seller.name}のオンラインチケットサービスにてご購入頂き、誠にありがとうございます。お客様がご購入されましたチケットの情報は下記の通りです。
| 
| [注文番号]
| #{order.orderNumber}
| 
| [注文日時]
| #{order.orderDate}
| 
| [確認番号]
| #{order.confirmationNumber}
| 
| [イベント日時]
| #{eventStartDate}
| 
| [作品名]
| #{workPerformedName}
| 
| [スクリーン名]
| #{screenName}
| 
| [座席]
| #{reservedSeats}
| 
| [合計]
| ￥#{order.price}
| 
| なお、このメールは、#{order.seller.name}の予約システムでチケットをご購入頂いた方にお送りしておりますが、
| チケット購入に覚えのない方に届いております場合は、下記お問い合わせ先までご連絡ください。
| ※なお、このメールアドレスは送信専用となっておりますので、ご返信頂けません。
| ご不明な点がございましたら、下記番号までお問合わせください。
| 
| お問い合わせはこちら
| #{order.seller.name}
| TEL：#{order.seller.telephone}