| 会員プログラムが更新されました。
| 
| [Project]
| #{order.project.id}
| 
| [ID]
| #{order.customer.id}
| 
| [Username]
| #{order.customer.memberOf.membershipNumber}
| 
| [OrderNumber]
| #{order.orderNumber}
| 
| [Order Date]
| #{order.orderDate}